#root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 100vw;
	min-height: 100vh;
	margin: 0 auto;
	text-align: center;
	overflow-x: hidden;
	overflow-y: scroll;
}
